In [1]:
print('안녕하세요')

안녕하세요

In [3]:
# 주석입니다.
print('안녕하세요')

안녕하세요

In [5]:
import io
import pandas as pd

In [9]:
data = pd.read_csv('./sample/house_price.csv')

In [10]:
data.head()

,Unnamed: 0,국가,광역권,지역명,규모구분,연도,월,분양가,평당분양가,평가,날짜
0,0,대한민국,수도권,서울,60㎡이하,2015,10,5652.0,1712.0,비쌈,2015-10-01 00:00:00
1,1,대한민국,수도권,서울,60㎡초과 85㎡이하,2015,10,5882.0,1782.0,비쌈,2015-10-01 00:00:00
2,2,대한민국,수도권,서울,85㎡초과 102㎡이하,2015,10,5721.0,1733.0,비쌈,2015-10-01 00:00:00
3,3,대한민국,수도권,서울,102㎡초과,2015,10,5879.0,1781.0,비쌈,2015-10-01 00:00:00
4,4,대한민국,수도권,인천,60㎡이하,2015,10,3488.0,1056.0,보통,2015-10-01 00:00:00